.App {
  text-align: center;
  background-color: #130303;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: regular;
  src: url("./fonts/Great_Vibes/GreatVibes-Regular.ttf");
}
.BookCard{
  font-family: "Serif";
  font-style: "Georgia";
  color: whitesmoke;
  text-shadow:2px 2px #130303;
}
.ImageModal{
  font-size: large;
  font-family: regular;
}
.rounded-image{
  border-radius: 45%;
}
